@using Yooocan.Logic.Extensions
@model List<Yooocan.Models.Products.ProductAllModel>
@section Head {
    <style>
        #html body {
            word-break: normal;
        }
    </style>
}
<div>
    <a asp-controller="Product" asp-action="Create" class="btn-flat"> Create New </a>
</div>
<table class="bordered striped responsive-table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price <a asp-action="All" asp-route-orderBy="price"><i class="material-icons">arrow_downward</i></a></th>
        <th>Company <a asp-action="All" asp-route-orderBy="company"><i class="material-icons">arrow_downward</i></a></th>
        <th>Edit</th>
        <th>PUBLISH</th>
        <th>Delete</th>
        <th>Categories</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td><a asp-route="Product" asp-route-id="@product.Id" asp-route-name="@product.Name.ToCanonical()"> @product.Id</a></td>
            <td>@product.Name</td>
            <td>$@product.Price</td>
            <td>@product.CompanyName, @product.CompanyId</td>
            <td>
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn" target="_Blank">
                    Edit
                </a>
            </td>
            <td class="publish-container">
                <a class="btn green @(product.IsPublished ? "" : "hide")" asp-controller="Product" asp-action="Publish" asp-route-id="@product.Id" asp-route-publish="false">PUBLISHED</a>
                <a class="btn red @(product.IsPublished ? "hide" : "")" asp-controller="Product" asp-action="Publish" asp-route-id="@product.Id" asp-route-publish="true">HIDDEN</a>
            </td>
            <td>
                <form asp-controller="Product" asp-action="Delete" method="post">
                    <input name="id" value="@product.Id" type="hidden" />
                    <button type="submit"
                            onclick="return confirm('Are you sure you wish to delete product: @product.Name?');"
                            class="btn">
                        Delete
                    </button>
                </form>
            </td>
            <td>@product.Categories</td>
        </tr>
    }
</table>
<p><strong>Published products: </strong>@Model.Count(x => x.IsPublished), <strong>Unpublished products: </strong>@Model.Count(x => !x.IsPublished)</p>
@section scripts{
    <script>
        $('.publish-container a').click(function () {
            $.get(this.href);
            $(this).toggleClass('hide').siblings().toggleClass('hide');
            return false;
        });
    </script>
}
